* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Rammetto+One&display=swap');


.cont_logo_hardy_list {
    
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
   "logo nombre lista"
   "nada formularioo nadaa";
  }

  .formularioo {
  
    grid-area: formularioo;
    display: flex;
    align-items: center;
    justify-content: center;
       
   }
   
.principal_logo {

  display: flex;
  justify-content: center;
    
  }

.principal_titulo {

  display: flex;
  align-items: center;
  justify-content: center;
     
  }


.menu {

  
  display: flex;
  padding: 0px;
  
        
  }

  .listas {
  
   list-style: none; 
   grid-area: lista;
   font-family: "Bowlby One SC", sans-serif;
   font-size: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0px;
   
   
   }

.navbar {

display: flex;
align-items: center;
justify-content: center;


}

#navbarNav{

 justify-content: center;

}
    
   .style_a {

     text-decoration: none;
     color:#7ed957;
     
           
     }


     


   .container-fluid{

   display: flex;
   justify-content: center !important;
   }

   .crecee:hover {

     transform: scale(1.2);
     
        }

   .navbar-toggler-icon {

     background:#7ed957
     
   }

   .navbar-toggler {

   border: 3px solid #7ed957 !important; 
   
   
   }

  .nav-item {

  align-items: center !important;
  justify-content: center !important;

  }
 
.logo1 {
  
  grid-area: logo;
  height: 180px;
  
  } 

.titulo {
   
  grid-area: nombre;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 100px;
  color: #000000;
  -webkit-text-stroke: 0.5px #7ed957;
  
  }

body {

  font-family: "Bowlby One SC", sans-serif;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

form {
  
  grid-area: formulario;
  background-color: none;
  border: #7ed957 5px solid; 
  border-radius: 10%;
  padding: 50px;
  width: 500px;
  text-align: center;
  
}

form a{

  color: #7ed957; 
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 25px;
  padding-top: 50px;

}

.input-container {

  position: relative;
  
}

.input-container > i{

  border-radius: 50%;
  background-color: #7ed957;
  padding: 14px;
  color: #000000;
  position: absolute;
  font-size: 20px;
  top: 4px;
  left: 10px;
}

.input-container > input {

  padding: 17px 15px 17px 65px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 35px;
  background-color: transparent;
  color: #7ed957;
  border: 2px solid #7ed957;
  font-size: 16px;
  outline: none;
}

::placeholder {

  color: #7ed957;
  font-size: 18px;
}

.btn {

  background: #7ed957;
  border-radius: 45%;
  border: 0;
  color: #000000;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 80px;
}

.success {

  position: absolute; 
  top: 50px;
  color: #7ed957;
  font-size: 18px;

}

.error {

 position: absolute;
 top: 50px;
 color: rgba(255, 0, 38, 0.867);
 font-size: 18px 

}

@media(max-width:991px){

 body {
  padding: 30px;
 }

 form {
  width: 340px
 }

}
